---
import Layout from '../layouts/Layout.astro';
import Container from "../components/container.astro";
import Portada from "../components/inicio/portada.astro";
import Nosotros from "../components/inicio/nosotros.astro"
import Guia from "../components/inicio/guia.astro";
import Redes from "../components/inicio/redes.astro";
---

<Layout 
title="Splendor cleaning service llc"
description="Sparkling homes, stress-free life. Cleaning made easy"
>
	<Container>
		<span id="inicio"><Portada/></span>
		<span id="about"><Nosotros/></span>
		<span id="service"><Guia/></span>
		<span id="contacto"><Redes/></span>
	</Container>
</Layout>

<style>
	
</style>
