---
import Container from "../../components/container.astro";
import Sectionhead from "../../components/sectionhead.astro";
---

<Container>
    <Sectionhead>
      <Fragment slot="title">About Us</Fragment>
      <Fragment slot="desc">We are.</Fragment>
    </Sectionhead>
    <section>
        <p>
            Your name or business name:
            What kind of cleaning services do you offer? (e.g., residential, commercial, deep cleaning, etc.)
            What makes you unique? (e.g., eco-friendly products, flexible scheduling, competitive prices, etc.)
            What's your passion for cleaning? (e.g., helping people reclaim their time, creating sparkling spaces, etc.)
        </p>
    </section>

</Container>