---
import Container from "../../components/container.astro";
import Sectionhead from "../../components/sectionhead.astro";
---

<Container>
    <Sectionhead>
      <Fragment slot="title">About Us</Fragment>
      <Fragment slot="desc">We are Splendor cleaning service llc.</Fragment>
    </Sectionhead>
    <section class="p-3 text-pretty">
        <p class="m-2 text-xl">
            Tired of juggling housework and family time? We understand the struggle. That's why I founded Splendor cleaning service llc, 
            your friendly neighborhood cleaning service covering. We offer thorough cleaning packages, including dusting, 
            vacuuming, mopping, bathroom scrubbing, and kitchen sanitizing, so you can reclaim your evenings and weekends. 
        </p>
        <p class="m-2 text-xl">
            Imagine enjoying a date night, indulging in a relaxing massage, or simply spending quality time with your family in a 
            clean and stress-free home. Because when you take care of yourself, you create a happier, healthier environment for everyone. 
            Remember, a clean home is a happy home, and a happy mom (or dad) makes a happy family!
        </p>
    </section>

</Container>