---
import Button from "../ButtonLink.astro";
---
<div>
  <div class="relative h-[80vh] w-full max-w-[1400px] md:aspect-video top-[60px]">
    <div
      class="absolute left-0 z-10 m-auto flex flex-col items-center justify-center md:w-[70%]"
    >
      <section class="animate-fade-up flex gap-5 flex-col items-center justify-center">
        <h1 class="text-2xl md:text-4xl lg:gap-20 lg:text-6xl font-tomaso">
          <span class="text-black bg-opacity-50" >Cleaning Service</span>
        </h1>
        <div class="gap-3 md:text-1xl lg:gap-7 lg:text-2xl">
          <section class="m-3 text-pretty">
            <strong>Professional and affordable house service:</strong>
            <ul>
              <li>Reclaim your time. Relax in a sparkling clean home.</li>
              <li>Stress less, enjoy more. Book your professional cleaning today.</li>
              <li>Come home to clean. Let us handle the dirty work.</li>
            </ul>
          </section>
          
        </div>
        <Button class="animate-fade-up bg-slate-400 bg-opacity-75 m-2" url="#contacto">
          Book Now
        </Button>
      </section>
    </div>
  
    <img
      class='transition-scale absolute md:right-0 -top-[50px] h-full bg-opacity-50 md:bg-opacity-0 p-6
      bg-cover bg-center bg-no-repeat opacity-40 md:opacity-80 bg-blend-luminosity duration-1000 ease-in-out group-hover:scale-110'
      src="/portada.webp"
      />
  </div>
</div>

<style>
  a {
    transition:
      text-shadow 0.5s ease-out,
      box-shadow 0.3s ease-out;
  }

  a:hover {
    box-shadow: 0 0 16px #fff8;
    text-shadow:
      0 0 10px rgba(255, 255, 255, 0.8),
      0 0 20px rgba(255, 255, 255, 0.8),
      0 0 22px rgba(255, 255, 255, 0.8),
      0 0 40px rgba(66, 220, 219, 0.8),
      0 0 60px rgba(66, 220, 219, 0.8),
      0 0 80px rgba(66, 220, 219, 0.5),
      0 0 100px rgba(66, 220, 219, 0.5),
      0 0 140px rgba(66, 220, 219, 0.5),
      0 0 200px rgba(66, 220, 219, 0.5);
  }
  @font-face {
    font-family: "Tomaso";
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    src:url("/fonts/tomaso.woff2") format("woff2");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

  @font-face {
    font-family: "Jura";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("/fonts/jura.woff2") format("woff2");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

  h1 .letter-logo {
    width: 50px;
    height: 46px;
    background-position: center;
    background-size: contain;
    scale: 1.2;
  }

  @media (width >= 768px) {
    h1 .letter-logo {
      width: 100px;
      height: 66px;
    }
  }

  @media (width >= 992px) {
    h1 .letter-logo {
      height: 96px;
    }
  }
</style>