---
import ButtonLink from "../ButtonLink.astro";
---

  <section class="flex justify-center items-center gap-8 flex-col bg-slate-600 py-2">
        <h3 class="flex items-center font-tomaso">
          <span>Contact Us</span>
        </h3>
        <div >
          <a class="w-fit lg:text-2xl font-medium text-white no-underline px-5 py-3
          border border-solid border-white rounded-full Uppercase"
            href="tel:+1 (987) 4587 899">+1 (987) 4587 899</a
          >
          <ButtonLink class="animate-fade-up" url="/contact">
            Book Now
          </ButtonLink>

        </div>
        
        <h3 class="flex items-center font-tomaso">
            <span>CONNECT WITH US</span>
        </h3>
        <div class="w-fit">
          <span>facebook</span>
          <span>instagram</span>
        </div>
        
  </section>