---
import Contactform from "../../components/contactform.astro";
import Container from "../../components/container.astro";
import Sectionhead from "../../components/sectionhead.astro";
---

  <Container>
    <Sectionhead>
      <Fragment slot="title">Contact</Fragment>
      <Fragment slot="desc">Your Questions Answered.</Fragment>
    </Sectionhead>

    <div class="grid md:grid-cols-2 gap-10 mx-auto max-w-4xl mt-16">
      <div>
        <h2 class="font-medium text-2xl text-gray-800">Contact Astroship</h2>
        <p class="text-lg leading-relaxed text-slate-500 mt-3">
          Have something to say? We are here to help. Fill up the form or send
          email or call phone. This is concise and directs users to your information
        </p>
        <div class="mt-5">
          <div class="flex items-center mt-2 space-x-2 text-gray-600">
            <article>
              <h5 class="font-bold">Hours</h5>
              <p>Monday - Friday</p>
              <p>8am - 5pm</p>
            </article>
          </div>
          <div class="flex items-center mt-2 space-x-2 text-gray-600">
            <label class="font-bold">Email</label>
            <a
              href="mailto:Splendorservice@gmail.com"
              >📩 Splendorservice@gmail.com</a
            >
          </div>
          <div class="flex items-center mt-2 space-x-2 text-gray-600">
            <label class="font-bold">Phone</label>
            <a
              href="tel:+1 (952) 8367 132">☎ +1 (952) 8367 132</a
            >
          </div>
        </div>
      </div>
      <div>
        <Contactform />
      </div>
    </div>
  </Container>
