---
import Container from "../container.astro";
//import Dropdown from "./dropdowns.astro";
import Astronav  from "./Astronav.astro";
//import MenuItems from "./MenuItems.astro";
//import MenuIcon  from "./MenuIcon.astro";
/*
const menuitems = [
  {
    title: "Home",
    path: "/" 
  },
  {
    title: "About",
    path: "/about",
  },
  {
    title: "Services",
    path: "#",
    children: [
      { title: "Home & Apartment Cleaning", path: "/home" },
      { title: "Carpet Cleaning", path: "/carpet" },
      { title: "Organization", path: "organization" },
      { title: "Small Office Cleaning", path: "office" },
    ],
  },
  {
    title: "Blog",
    path: "/blog",
  },
  {
    title: "Contact",
    path: "/contact",
  }
];*/
---


<Container>
  <header class="w-full items-center justify-between border-b border-transparent px-8 py-4 text-white fixed top-0 z-10 bg-[#FBFBFB]">
    <Astronav>
      <div class="flex w-full lg:w-auto items-center justify-between text-pretty">
        <a href="#" class="flex items-center gap-3 hover:!text-default">
          <span class="font-bold text-slate-800">Cleaning</span>
          <span class="text-slate-500">ship</span>
        </a>
        {/* 
        <div class="block lg:hidden">
          <MenuIcon class="w-4 h-4 text-gray-800" />
        </div>*/}
        <a class="md:w-auto lg:text-2xl font-medium text-white no-underline px-5 py-3
          border border-solid border-white rounded-full Uppercase bg-slate-400 bg-opacity-75"
            href="tel:+1 (987) 4587 899">+1 (987) 4587 899
        </a>
      </div>
      {/* 
      <MenuItems class="hidden w-full lg:w-auto mt-2 lg:flex lg:mt-0">
        <ul class="flex flex-col lg:flex-row lg:gap-3">
          {
            menuitems.map((item, index) => (
              <>
                {item.children && (
                  <Dropdown
                    title={item.title}
                    children={item.children}
                    lastItem={index === menuitems.length - 1}
                  />
                )}

                {!item.children && (
                  <li>
                    <a
                      href={item.path}
                      class="flex lg:px-3 py-2 items-center text-gray-600 hover:text-gray-900">
                      <span> {item.title}</span>
                    </a>
                  </li>
                )}
              </>
            ))
          }
        </ul>
      </MenuItems>*/}
    </Astronav>
  </header>
</Container>