<footer class="fixed left-[50%] transform -translate-x-1/2 border-b border-transparent px-1 py-3 bottom-0 z-20">
    <a class="lg:text-2xl font-medium  no-underline px-2 py-2 lg:order-last
        border border-solid border-white rounded-full Uppercase bg-slate-400 bg-opacity-75"
        href="tel:+1 (952) 8367 132">+1 (952) 8367 132
    </a>
</footer>
